.container h3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 600;
}

.container .card{
    /* border-radius: 100px; */
    border: none;
    align-items: center;
    margin: 1rem;
    width: auto;
}

.container .card img{
    border-radius: 100px;
    height: 150px;
    width: 150px;
    object-fit: contain;
}