.container h3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 600;
}

.container .card{
    border-radius: 50px;
    margin: 1rem;
}

.container .card img{
    border-radius: 30px;
    height: 150px;
    /* width: 150px; */
    /* object-fit: fill; */
}